# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# IntelliJ build output
out/

# Maven build output
target/

# Maven release files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Maven temporary files
.mvn/timing.properties

# Operating System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db